*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(122, 195, 218);
    color: #333;


    background-image:
    url('img/fondepagima.jpg');

     background-size: cover;

     background-position:
     center;
}

h1{

  color: beige;
  background-color: black;
  text-align: center;  


}body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

header {
    
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

.menu ul {
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 40px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu a.activo {
  background-color: #0088ff;
  border-radius: 5px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
}




