

/* Contenedor */
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px;
}

/* Tarjeta */
.card {
  position: relative;
  width: 400px;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85));
  border-radius: 18px;
  overflow: hidden;
  padding-bottom: 25px;
  text-align: center;
  border: 1px solid rgba(150,150,255,0.15);
  backdrop-filter: blur(20px);
  transition: transform .4s ease, box-shadow .4s ease;
  cursor: pointer;
}

/* Efecto de brillo dinámico */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 20% -10%, rgba(103, 83, 83, 0.6), transparent 40%);
  opacity: 0;
  transition: opacity .5s ease;
}

.card:hover::before {
  opacity: 1;
}

/* Efecto hover */
.card:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0px 18px 55px rgba(50, 49, 54, 0.45);
}

/* Imagen con animación */
.card img {
  width: 100%;        
  height: 300px;      
  object-fit: cover;  
  border-bottom: 2px solid #8f73ff;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}


.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .9s ease;
}

.card:hover .card-img img {
  transform: scale(1.22);
}

/* Texto */
.card h2 {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #dfe6ff;
}

.card p {
  color: #adb4cf;
  font-size: 14px;
  padding: 0 18px;
  margin-top: 6
}

.card h3{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
   background: linear-gradient(140deg, rgba(249, 249, 249, 0.65), rgba(0, 0, 0, 0.85));
  color: rgba(249, 249, 249, 0.65);
}

/*noton de leer mas----------------------------------------------------------------------*/
.btn-wow {
  position: relative;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(120, 95, 255, 0.6);
  backdrop-filter: blur(12px);
  transition: 0.45s ease;
}

.btn-wow::before {
  content: "";
  position: absolute;
  top: -80%;
  left: -80%;
  width: 260%;
  height: 260%;
  background: conic-gradient(#8f73ff, #c4b5ff, #8f73ff);
  animation: spin 3.5s linear infinite;
  opacity: 0.45;
}

.btn-wow::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #0e0f17;
  border-radius: 40px;
}

.btn-wow:hover {
  transform: scale(1.18);
  box-shadow: 0 0 35px #2c1288;
  border-color: #fff;
}

.btn-wow span {
  position: relative;
  z-index: 2;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}


