/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general */
body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #4f1f1f;
  color: #0b36b9;
  line-height: 1.6;
}

/* Contenedor */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Encabezado */
.header {
  background: #000000;
  color: #580de4;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.6rem;
  font-weight: bold;
}
.menu-btn {
  background: none;
  border: none;
  color: #cecece;
  font-size: 1.6rem;
  cursor: pointer;
}

/* Hero principal */
.hero {
  background: linear-gradient(to right, #000, #333);
  color: #180cb8;
  text-align: center;
  padding: 5rem 1rem;
}
.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero p {
  max-width: 700px;
  color: #ccc;
  margin: auto;
  margin-bottom: 2rem;
}
.btn {
  background: rgb(33, 5, 100);
  color: rgb(255, 250, 250);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
}
.btn:hover {
  transform: scale(1.05);
  background: #4b4bab;
}

/* Servicios */
.services {
  background: #fff;
  padding: 4rem 0;
  text-align: center;
}
.services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}
.card {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.card h3 {
  margin-bottom: 0.5rem;
}

.card p{
  color: #000000;
}

/* Sobre nosotros */
.about {
  background: #f8f8f8;
  padding: 4rem 0;
}
.about-content {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.about img {
  flex: 1;
  max-width: 450px;
  border-radius: 12px;
  object-fit: cover;
}
.about div {
  flex: 1;
  min-width: 300px;
}
.about h2 {
  margin-bottom: 1rem;
}
.about p {
  color: #444;
  margin-bottom: 0.8rem;
}

/* Contacto */
.contact {
  padding: 4rem 0;
  text-align: center;
  background: #fff;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}
.contact input,
.contact textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
}

/* Footer */
.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Responsivo */
@media (max-width: 768px) {
  .hero h2 { font-size: 2rem; }
  .about-content { flex-direction: column; text-align: center; }
  .about img { width: 100%; }
}
